# Exploratory Data Analysis
----



### Lighthouse Labs, Midterm Project Project - Predicting Flight Delays.

##### January 13, 2023. Terre Leung, Tetiana Fesenko, and Jamie Dormaar

---

_Use this notebook to get familiar with the datasets we have. There is 10 questions we need to answer during the EDA._


_We shouldn't limit our EDA to these 10 questions. Let's be creative :)._

In [1]:
import pandas as pd

In [2]:
# Load data tables:
flights = pd.read_csv('../data/flights.csv', delimiter= ',')
flights_test = pd.read_csv('../data/flights_test.csv', delimiter= ',')
fuel_consumption = pd.read_csv('../data/fuel_consumption.csv', delimiter= ',')
passengers = pd.read_csv('../data/passengers.csv', delimiter= ',')

In [8]:
# Save working copies of the data:
fl_df = flights.copy()
fl_test_df = flights_test.copy()
fc_df = fuel_consumption.copy()
pa_df = passengers.copy()

In [3]:
# First look at tables:
print(f'\nflights.shape: {flights.shape}')
display(flights.head())

print(f'\nflights_test.shape: {flights_test.shape}')
display(flights_test.head())

print(f'\nfuel_consumption.shape: {fuel_consumption.shape}')
display(fuel_consumption.head())

print(f'\npassengers.shape: {passengers.shape}')
display(passengers.head())

flights.shape: (500000, 41)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime
0,2018-04-08,AA,AA,AA,2729,AA,N952NN,2729,11057,CLT,...,1,930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-08,AA,AA,AA,2730,AA,N908AA,2730,12889,LAS,...,1,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-04-08,AA,AA,AA,2731,AA,N900UW,2731,11292,DEN,...,1,641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-04-08,AA,AA,AA,2733,AA,N992AU,2733,12953,LGA,...,1,1389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-04-08,AA,AA,AA,2734,AA,N864NN,2734,11057,CLT,...,1,930,0.0,0.0,17.0,0.0,0.0,NaN,NaN,NaN

flights_test.shape: (660556, 20)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01 00:00:00,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,2020-01-01 00:00:00,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,2020-01-01 00:00:00,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,2020-01-01 00:00:00,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,2020-01-01 00:00:00,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333

fuel_consumption.shape: (3035, 25)

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,NaN,NaN,0JQ,NaN,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,5100,0.0,5100,2016
1,1,21352.0,0WQ,0WQ,Avjet Corporation,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,396216,140239.0,536455,2016
2,1,21645.0,23Q,23Q,Songbird Airways Inc.,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2016
3,1,21652.0,27Q,27Q,"Jet Aviation Flight Services, Inc.",1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2016
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,...,522405,0.0,0.0,0.0,0.0,522405,569497,0.0,569497,2016

passengers.shape: (300000, 37)

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,month,year,distance_group,class
0,3,3,3600,18,0,210,41,81,166,160,...,"Olga Bay, AK",US,United States,0,40,4,10,2019,1,F
1,3,3,3000,15,3,24,0,39,67,61,...,"Old Harbor, AK",US,United States,0,79,3,10,2019,1,F
2,3,3,3600,18,1,0,0,93,167,161,...,"Kodiak Island, AK",US,United States,0,40,4,10,2019,1,F
3,3,3,3600,18,4,175,86,14,38,32,...,"Seal Bay, AK",US,United States,0,40,4,10,2019,1,F
4,3,3,3600,18,0,209,41,10,32,26,...,"Lazy Bay, AK",US,United States,0,40,4,10,2019,1,F

In [9]:
# Check for nulls:
fl_df_nulls = fl_df.isnull().sum().sort_values(ascending= False)
percent = (fl_df.isnull().sum()/fl_df.isnull().count()).sort_values(ascending = False)
fl_df_missing_data = pd.concat([fl_df_nulls, percent], axis=1, keys=['Total', 'Percent'], verify_integrity= True)
print(f'\nfl_df_missing_data.head(20)')
display(fl_df_missing_data.head(20))

fl_test_df_nulls = fl_test_df.isnull().sum().sort_values(ascending= False)
percent = (fl_test_df.isnull().sum()/fl_test_df.isnull().count()).sort_values(ascending = False)
fl_test_df_missing_data = pd.concat([fl_test_df_nulls, percent], axis=1, keys=['Total', 'Percent'], verify_integrity= True)
print(f'\nfl_test_df_missing_data.head(20)')
display(fl_test_df_missing_data.head(20))

fc_df_nulls = fc_df.isnull().sum().sort_values(ascending= False)
percent = (fc_df.isnull().sum()/fc_df.isnull().count()).sort_values(ascending = False)
fc_df_missing_data = pd.concat([fc_df_nulls, percent], axis=1, keys=['Total', 'Percent'], verify_integrity= True)
print(f'\nfc_df_missing_data.head(20)')
display(fc_df_missing_data.head(20))

pa_df_nulls = pa_df.isnull().sum().sort_values(ascending= False)
percent = (pa_df.isnull().sum()/pa_df.isnull().count()).sort_values(ascending = False)
pa_df_missing_data = pd.concat([pa_df_nulls, percent], axis=1, keys=['Total', 'Percent'], verify_integrity= True)
print(f'\npa_df_missing_data.head(20)')
display(pa_df_missing_data.head(20))

fl_df_missing_data.head(20)

                      Total   Percent
longest_add_gtime    497206  0.994412
total_add_gtime      497206  0.994412
first_dep_time       497206  0.994412
cancellation_code    494796  0.989592
late_aircraft_delay  418264  0.836528
security_delay       418264  0.836528
nas_delay            418264  0.836528
weather_delay        418264  0.836528
carrier_delay        418264  0.836528
air_time               6683  0.013366
arr_delay              6420  0.012840
actual_elapsed_time    6153  0.012306
wheels_on              5867  0.011734
taxi_in                5867  0.011734
taxi_out               5679  0.011358
wheels_off             5679  0.011358
dep_delay              5460  0.010920
arr_time               5336  0.010672
dep_time               4984  0.009968
tail_num                505  0.001010

fl_test_df_missing_data.head(20)

                    Total   Percent
tail_num             1499  0.002269
fl_date                 0  0.000000
dest_airport_id         0  0.000000
flights                 0  0.000000
crs_elapsed_time        0  0.000000
dup                     0  0.000000
crs_arr_time            0  0.000000
crs_dep_time            0  0.000000
dest_city_name          0  0.000000
dest                    0  0.000000
origin_city_name        0  0.000000
mkt_unique_carrier      0  0.000000
origin                  0  0.000000
origin_airport_id       0  0.000000
op_carrier_fl_num       0  0.000000
op_unique_carrier       0  0.000000
mkt_carrier_fl_num      0  0.000000
mkt_carrier             0  0.000000
branded_code_share      0  0.000000
distance                0  0.000000

fc_df_missing_data.head(20)

                Total   Percent
total_gallons       6  0.001977
tdomt_gallons       3  0.000988
slat_gallons        2  0.000659
slat_cost           1  0.000329
spac_cost           1  0.000329
satl_cost           1  0.000329
tint_gallons        1  0.000329
airline_id          1  0.000329
ts_gallons          1  0.000329
sint_gallons        1  0.000329
spac_gallons        1  0.000329
satl_gallons        1  0.000329
sdomt_gallons       1  0.000329
tint_cost           1  0.000329
carrier_name        1  0.000329
unique_carrier      1  0.000329
sint_cost           1  0.000329
ts_cost             0  0.000000
tdomt_cost          0  0.000000
total_cost          0  0.000000

pa_df_missing_data.head(20)

                       Total  Percent
departures_scheduled       0      0.0
origin_city_market_id      0      0.0
origin_city_name           0      0.0
origin_country             0      0.0
origin_country_name        0      0.0
dest_airport_id            0      0.0
dest_city_market_id        0      0.0
dest                       0      0.0
dest_city_name             0      0.0
dest_country               0      0.0
dest_country_name          0      0.0
aircraft_group             0      0.0
aircraft_type              0      0.0
aircraft_config            0      0.0
month                      0      0.0
year                       0      0.0
distance_group             0      0.0
origin                     0      0.0
origin_airport_id          0      0.0
departures_performed       0      0.0

#### **Task 1**: Test the hypothesis that the delay is from Normal distribution. and that **mean** of the delay is 0. Be careful about the outliers.

In [ ]:
'merge conflict'

#### **Task 2**: Is average/median monthly delay different during the year? If yes, which are months with the biggest delays and what could be the reason?

#### **Task 3**: Does the weather affect the delay? 
Use the API to pull the weather information for flights. There is no need to get weather for ALL flights. We can choose the right representative sample. Let's focus on four weather types:
- sunny
- cloudy
- rainy
- snow.
Test the hypothesis that these 4 delays are from the same distribution. If they are not, which ones are significantly different?

#### **Task 4**: How taxi times changing during the day? Does higher traffic lead to bigger taxi times?

#### **Task 5**: What is the average percentage of delays that is already created before departure? (aka are arrival delays caused by departure delays?) Are airlines able to lower the delay during the flights?

#### **Task 6**: How many states cover 50% of US air traffic?

#### **Task 7**: Test the hypothesis whether planes fly faster when there is the departure delay?

#### **Task 8**: When (which hour) do most 'LONG', 'SHORT', 'MEDIUM' haul flights take off?

#### **Task 9**: Find the top 10 the bussiest airports. Does the biggest number of flights mean that the biggest number of passengers went through the particular airport? How much traffic do these 10 airports cover?

#### **Task 10**: Do bigger delays lead to bigger fuel comsumption per passenger? 
We need to do four things to answer this as accurate as possible:
- Find out average monthly delay per air carrier (monthly delay is sum of all delays in 1 month)
- Find out distance covered monthly by different air carriers
- Find out number of passengers that were carried by different air carriers
- Find out total fuel comsumption per air carrier.

Use this information to get the average fuel comsumption per passenger per km. Is this higher for the airlines with bigger average delays?